.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    max-height: 600px;
    overflow-y: auto;
    width: 100%;
}

.infoBox {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    background: lightblue;
    line-height: 1.2;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0px 8px 0px 8px;
}

.rowTag {
    display: flex;
    flex-direction: column; /* Stacks rows properly */
    font-size: 12px;
    /* padding: 0px 8px 0px 8px; */
  }
  
  .estimationRow {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0px 8px 0px 8px;
  }

.fullWidth {
    width: 100%;
}

.fullWidthStone {
    width: 100%;
    background-color: #52bd91;
    padding: 1px;
    border-radius: 0 0 5px 5px;
}

.weightDetails {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.fullWidthLine {
    width: 100%;
    border: 1px solid gray;
    margin: 2px 0;
}

@media (max-width: 768px) {
    .infoBox {
        padding: 4px;
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    .infoBox {
        padding: 2px;
        font-size: 12px;
        line-height: 1;
    }

    .row,
    .weightDetails {
        font-size: 9px;
    }
}